---
import Layout from "../../layout/Layout.astro";
import { getCollection } from "astro:content";
const pageTitle = "ドキュメント一覧";

const docs = await getCollection("docs");
---

<Layout pageTitle={pageTitle}>
  <!-- <main transition:name="main" transition:animate="none"> -->
  <main>
    <h1>ドキュメント一覧</h1>
    {
      docs.map((doc) => (
        <div>
          <a href={`/doc/${doc.id}`}>
          <h2>{doc.data.title}</h2>
          <time>{doc.data.date.toLocaleDateString()}</time>
          </a>
        </div>
      ))
    }
  </main>
</Layout>
