---
import { BLOG_LIMIT } from "../../constants";
import Layout from "../../layout/Layout.astro";
import { getBlogList } from "../../libs/api/microcms";
import BlogList from "../../components/BlogList.astro";
const pageTitle = "ブログ一覧";

const { contents: blogList } = await getBlogList({
    limit: BLOG_LIMIT,
});
---

<Layout pageTitle={pageTitle}>
    <main>
        <h1>ブログ一覧</h1>
        <BlogList blogList={blogList} />
        <ul class="c-pagination">
            <li class="c-pagination__item">
                <a href="/blog/page/1" class="c-pagination__link">1</a>
            </li>
            <li class="c-pagination__item">
                <a href="/blog/page/2" class="c-pagination__link">2</a>
            </li>
        </ul>
    </main>
</Layout>