---
import Layout from "../layout/Layout.astro";
const pageTitle = "404 Not Found";
---
<Layout pageTitle={pageTitle}>
    <main>
      <h1>404 Not Found</h1>
      <p>ページが見つかりません</p>
      <a href="/">ホームに戻る</a>
    </main>
  </Layout>
  