---
import Logo from "../components/Logo.astro";
import { fade } from "astro:transitions";
import "./header.scss";
---

<header class="l-header" transition:animate={fade({duration: "2s"})}>
  <div class="l-header__inner">
    <Logo />
    <nav class="l-header__nav">
      <ul class="l-header__nav-list">
        <li class="l-header__nav-item">
          <a href="/" class="l-header__nav-link">ホーム</a>
        </li>
        <li class="l-header__nav-item">
          <a href="/blog" class="l-header__nav-link">ブログ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
